:root {
  --mainColor: hsl(300, 43%, 22%);
  --job-descriptionColor: hsl(333, 80%, 67%);
  --heading-paragraphColor: hsl(303, 10%, 53%);
  --ratings-backgroundColor: hsl(300, 24%, 96%);
  --nameColor: hsl(0, 0%, 100%);
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-repeat: no-repeat !important;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  display: flex;
  justify-content: center;
}
.section-1 {
  display: flex;
}
h1 {
  color: var(--mainColor);
  line-height: 1;
}
p {
  line-height: 1.6;
}
.heading p {
  color: var(--heading-paragraphColor);
}
.ratings > div {
  margin-bottom: 20px;
  background-color: var(--ratings-backgroundColor);
  border-radius: 15px;
}
.stars img {
  margin-right: 5px;
}
.ratings .text {
  color: var(--mainColor);
  font-weight: bold;
}
.card {
  padding: 40px 30px;
  border-radius: 10px;
  background-color: var(--mainColor);
}
.details {
  display: flex;
  align-items: center;
}
.details img {
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
}
.details h2 {
  font-size: 1em;
  color: var(--nameColor);
}
.details p {
  margin-top: 5px;
  color: var(--job-descriptionColor);
}
.quote {
  color: var(--nameColor);
}
.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: 700;
}
.attribution a {
  color: var(--job-descriptionColor);
}

@media (max-width: 767px) {
  body {
    background: url(../images/bg-pattern-top-mobile.svg) top 0 left 0,
      url(../images/bg-pattern-bottom-mobile.svg) bottom 0 right 0;
  }
  main {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-left: 25px;
    padding-right: 25px;
  }
  .section-1 {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
  }
  .heading {
    margin-bottom: 50px;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 30px;
  }
  .ratings > div {
    padding: 20px 0;
  }
  .stars {
    margin-bottom: 10px;
  }
  .section-2 {
    margin-top: 40px;
  }
  .card {
    margin-bottom: 15px;
  }
  .details {
    margin-bottom: 25px;
  }
  .attribution {
    margin-top: 20px;
    text-align: center;
  }
  .attribution p:first-of-type {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  body {
    background: url(../images/bg-pattern-top-desktop.svg) top 0 left 0,
      url(../images/bg-pattern-bottom-desktop.svg) bottom 0 right 0;
  }
  main {
    margin-top: 6rem;
    margin-bottom: 6rem;
    max-width: 80vw;
  }
  .section-1 {
    justify-content: space-between;
  }
  .heading {
    flex-basis: 42%;
  }
  .ratings {
    flex-basis: 53%;
  }
  h1 {
    font-size: 3em;
    margin-bottom: 15px;
  }
  .ratings > div {
    max-width: 35vw;
    padding: 20px 1vw;
    display: flex;
    align-items: center;
    transition: 0.3s;
  }
  .rating-2 {
    transform: translateX(50px);
  }
  .rating-3 {
    transform: translateX(100px);
  }
  .stars {
    margin-right: 30px;
  }
  .rating-1:hover,
  .rating-3:hover {
    transform: translateX(50px);
  }
  .section-2 {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
  }
  .card {
    flex-basis: calc(95% / 3);
    transition: 0.3s;
  }
  .card:nth-child(2) {
    transform: translateY(20px);
  }
  .card:last-child {
    transform: translateY(40px);
  }
  .card:first-child:hover,
  .card:last-child:hover {
    transform: translateY(20px);
  }
  .details {
    margin-bottom: 30px;
  }
  .attribution {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
  }
  .attribution a {
    text-decoration: none;
  }
  .attribution a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-1 h1 {
    font-size: 2em;
  }
  .section-1 .ratings > div {
    max-width: fit-content;
    transform: translateX(0);
  }
}
